/*GLOBAL*/
h5 {
    display: inline !important;
}

label {
    color: gray;
}
/*NAVBAR*/
#LOGO{
    color: yellow; 
    text-shadow: 3px 3px 10px green;
}
/*register.html*/
#registerdata {
    width: 250px;
    font-size: larger
}

#registerimage {
    width: 700px;
    font-size: larger
}

#registersubtitle {
    color: rgb(248, 153, 169);
}

.registerinput {
    width: 500px !important;
    font-size: larger !important;
}

#registersubmit {
    background-color: rgb(208, 109, 125);
}

/*dog-create.ejs*/
#createh3 {
    color: rgb(248, 153, 169);
}

.createinput {
    width: initial !important;
    font-size: larger !important;
    ;
}

.createinput2 {
    width: 800px !important;
    font-size: larger !important;
}

#createinput3 {
    font-size: x-large;
    width: 800px;
    height: 120px;
}

#createsubmit {
    background-color: rgb(208, 109, 125);
}

/*dog-update.ejs*/
#updateh3 {
    color: rgb(248, 153, 169);
}

#updatesubmit {
    background-color: rgb(208, 109, 125);
}

.updateinput {
    width: initial !important;
    font-size: larger !important;
}
#updateinput2{
width: 800px; 
font-size: larger;
}
#updatetextarea{
font-size: x-large; 
width: 800px; 
height: 120px;
}
#updateinputimg{
width: 800px; 
font-size: larger;
position: absolute;
}
#updateimg{
    margin-left: 100px;
}
/*dog-details.ejs*/
.dogdetailh{
    color: rgba(128, 122, 123, 0.767);
}
#dogdetailh2{
    color: rgb(248, 153, 169);
}
#dogimage{
    margin-left: 65%;
     margin-top: 65px;
      position: absolute;
}
#detailsdiv{
    width: 800px;
}
/*user-profile.ejs*/
#espacamento{
    margin-top: 20px !important;
    margin-left: -110px !important;
    position: absolute;
}
#espacamento2{
    margin-top: 30px;
}
#espacamento3{
    margin-top: 70px;
}


