<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head') %>

    <body>
        <%-include('includes/nav.ejs')%>

    <h3 id="createh3">Cadastre uma raça</h3>
    <form action="/dogs" method="POST">
        <label for="nome" class="createlabel"><h5>Digite a Raça : </h5></label><input required class="createinput" name="raca">
        <br>
        <label for="porte" class="createlabel" ><h5>Digite o Porte : </h5></label><select name="porte" class="porte">
            <option value="Pequeno">Pequeno</option>
            <option value="Médio">Médio</option>
            <option value="Grande">Grande</option>
            <option value="Variado">Variado</option>
        </select>
        <br>
        <label for="short_description" class="createlabel" ><h5>Digite a Descrição Curta: </h5></label><input required class="createinput2" required name="descricaocurta">
        <br>
        <br>
        <label for="description" class="createlabel"><h5>Digite a Descrição : </h5></label> <textarea id="createinput3" name="descricao" required></textarea>
        <br>
        <br>
        <label for="image" class="createlabel"><h5>URL da foto : </h5></label><input required class="createinput2" name="foto">
        <br>
        <br>

        <input class="waves-effect waves-light btn" id="createsubmit" type="submit" value="Cadastrar Raça">
    </form>

 

</body>
</html>