<!DOCTYPE html>
<html lang="en">
    <%-include('includes/head.ejs')%>
<body>
    <%-include('includes/nav.ejs')%>

    <h2>Cadastre-se jรก no Dog Style!</h2>

    <form action="POST" action="">
        
    </form>

</body>
</html>