<!DOCTYPE html>
<html lang="en">
    <%-include('includes/head.ejs')%>
<body>
    <%-include('includes/nav.ejs')%>
    <table style="border: 1px solid black;">
    <tr>
        <td>ID: </td>
        <th>
        Pedro Henrique Pereira Gonzalez Padilha
        </th>
        <!--<td>Usuário desde: </td> Caso seja um banco de dados-->
    <!--<<td>Raça Favorita: </td>Se puder usar banco de dados-->
        <td>19/05/1995</td>
        <td>email</td>
    </tr>
    </table>
    
</body>
</html>