<!DOCTYPE html>
<html lang="en">
    <%-include('includes/head.ejs')%>
<body>
    <h2>Bem-vindo ao Dog Style!</h2>
    <h4 style="color: gray;">Seu site com tudo sobre os caezinhos mais amados do Brasil!</h4>
</body>
</html>