<!DOCTYPE html>
<html lang="en">
    <%-include('includes/head.ejs')%>
<body>
    <%-include('includes/nav.ejs')%>
     <!--CARA AQUI TU BOTA AS INFORMACOES DO USUARIO QUE TA LOGADO-->
    <table style="border: 1px solid black;">
    <tr>
        <td>ID: </td> 
        <th>
        Pedro Henrique Pereira Gonzalez Padilha
        </th>
        <td>19/05/1995</td>
        <td>email</td>
    </tr>
    </table>
    
</body>
</html>