<nav>
    <div class="nav-wrapper">
        <img src="https://e7.pngegg.com/pngimages/90/669/png-clipart-do-not-catch-the-tongue-of-the-dog-pet-dog.png" width="70px" >&NonBreakingSpace;&NonBreakingSpace;
      <a href="/dogs" class="brand-logo" style="color: aqua; text-shadow: 3px 3px 10px blue;">  Dog Style</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="/user">Meu Perfil</a></li>
      </ul>
    </div>
  </nav>
  
  