<nav>
    <div class="nav-wrapper">
        <img src="https://e7.pngegg.com/pngimages/90/669/png-clipart-do-not-catch-the-tongue-of-the-dog-pet-dog.png" width="70px" >&NonBreakingSpace;&NonBreakingSpace;
      <a href="/dogs" class="brand-logo" id="LOGO">  Dog Style</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if(users.adm == true){ %>
        <li><a href="/user/alluser">Gerenciar usuarios</a></li>
          <%}%>
        <li><a href="/user/logout">Logout</a></li>
        <li><a href="/user">Meu Perfil</a></li>
      </ul>
    </div>
  </nav>
