<nav>
    <div class="nav-wrapper">
        <img src="https://e7.pngegg.com/pngimages/90/669/png-clipart-do-not-catch-the-tongue-of-the-dog-pet-dog.png" width="70px" >&NonBreakingSpace;&NonBreakingSpace;
      <a href="/dogs" class="brand-logo" id="LOGO">  Dog Style</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="adecoration" href="/dogs"><b>Página inicial</b></a></li>
        <% if(users.adm == true){ %>
        <li><a class="adecoration" href="/user/alluser"><b>Gerenciar usuarios</b></a></li>
          <%}%>
          <li><a class="adecoration" href="/user"><b>Meu Perfil</b></a></li>
        <li><a class="adecoration" href="/user/logout"><b>Logout</b></a></li>
      </ul>
    </div>
  </nav>
