<!DOCTYPE html>
<html lang="en">
<%-include('includes/head.ejs')%>

    <body>
        <h1>Explore e conheça as mais diversas raças de cachorros</h1>
<div style="background-color: rgb(219, 215, 215); border: 2px gray dotted;">
        <table>
            <tr>
            <th>
                Nome
            </th>
            <th>
                Raça
            </th>
            <th>
                Porte
            </th>
    
            </tr>
            <tr>
                <td>
                    Jorranes Beiçes
                </td>
                <td>
                    Vira lata
                </td>
                <td>
                    16cm
                </td>
            
            </tr>
        </table>
    </div>


    </body>

</html>