<!DOCTYPE html>
<html lang="en">
<%-include('includes /head.ejs')%>

    <body>
        <h1>lista de doguinhos</h1>

            <form action="/"></form>

        <table>
            <th>
                <td>
                Número
            </td>
            </th>
            <td>
                Nome
            </td>
            </th>
            <td>
                Raça
            </td>
            <td>
                Idade
            </td>
            </th>
            <tr>
                <td>
                    1
                </td>
                <td>
                    TesteNome
                </td>
                <td>
                    TesteRaça
                </td>
                <td>
                    10
                </td>
            </tr>
            
        </table>


    </body>

</html>